In [ ]:
# PYTHON :
* The python is interperted, object oriented, high level programming langauage with Dynamic semantic.
* Python is a case sensetive.
* Python is used for :
    1.web development
    2.software development
    3.mathematics
    4.system scripting
* Python runs on the interpreted system meaning that code can be executed as soon written.This means that prototyping very quick.
* Python can be treated in a procedual way an object- oriented way or functional way.
* Python syntax are easy compare to others langauge.

In [ ]:
The print function in python is a function that outputs to your conside window whatever you say you want to print out.

In [3]:
In[ ]:
    print("Hello World")

Hello World

In [ ]:
VARIABLE :
    Variable only start with alphabets.

In [6]:
a=10
b=10
print(a)

10

In [7]:
print(a,b)

10 10

In [8]:
 print(id(a))

2440922360400

In [9]:
print(id(b))

2440922360400

In [10]:
c=20
print(id(c))

2440922360720

In [11]:
A = 'Hello'
print(a)

10

In [12]:
_ =10
print(_)

10

In [13]:
a1=5
print(a1)

5

In [14]:
1a=5
print(1a)

SyntaxError: invalid syntax (Temp/ipykernel_556/1881863838.py, line 1)

In [15]:
a_b=15
print(a_b)

15

In [16]:
print('a_b')

a_b

In [17]:
@a=40
print(@a)

SyntaxError: invalid syntax (Temp/ipykernel_556/3222436574.py, line 1)

In [18]:
_a=30
print(_a)

30

In [19]:
# String concatenation join two string variables
a ="Hello"
b = "NetTech India"
print(a+b)

HelloNetTech India

In [20]:
print(a+" "+b)

Hello NetTech India

In [21]:
c = 30
print(c+30)

60

In [22]:
print(a+c)

TypeError: can only concatenate str (not "int") to str

In [23]:
d='50'
print(a+d)

Hello50

In [27]:
a=10
print(a)
b="vaishnavi"
print(b)
c= Hello
print(c)

10
vaishnavi

NameError: name 'Hello' is not defined

In [ ]:
# Keyword:
The keywords are the reserved word in the python. These reserved words cannot be used as function name, variable name or any other identifier.
and|as|break|class|continue|def|del|elif|else|except|False|finally|for|from|global|if|import|in|is|lamba|None|nonlocal|not|or|pass|raise|return|True|try|while|with|yield

In [ ]:
help("keywords")

In [ ]:
Here is a list of the python keywords. Enter any keywords to get more help.
False                class              from               or
None                 continue          global             pass
True                 def                if                raise
and                  del                import            return
as                   elif               in                try
assert               else               is                while
async                 except            lambda            with
await                 finally           nonlocal         yield 
break                 for               not

In [ ]:
Statements:
    Instruction that you code and that a python interpreter can execute are called statements.

In [28]:
a=1+2+5

In [ ]:
# Comments:
comments are nothing but the sentences that the python interpreter ignores.

In [30]:
#this is a comment 
print("Hello world")

Hello world

In [33]:
'''I start my comment from this line... 
still the comment...
still the comment...
okay finished :)'''
print("Hello world !")

Hello world !

In [35]:
"""I start my comment from this line...
still the comment...
still the comment...
ok finished : )"""
print("Hello world !")

Hello world !

In [ ]:
# Indentation:
Indentetion in the python refers to the (space and tabs) that are used at the begiining of a statement or a code we write

In [ ]:
## data type 
1. integer
2. float
3. complex
4. string
5. list
6. tuple
7. set
8. dictinary
9. boolaen
10.range

In [4]:
# we can used type fuction  to get the type of information of a value.
a = 10 
print(type(a))

<class 'int'>

In [3]:
b = 10.0
print(type(b))

<class 'float'>

In [2]:
# A complex number is a number with a and real and on imaginary component represented ass a +bj 
c =  10j
print(type(c))

<class 'complex'>

In [5]:
var = "Welcome to nettech india"
type(var)

str

In [6]:
# The python list is an ordered collection (also known ass a sequences)of elements.
list = ["apple","banana","cherry"]
type(list)

list

In [7]:
#tuple are ordered collection of elements that are unchangeable 
tuple = ("apple","banana","cherry")
print(type(tuple))

<class 'tuple'>

In [8]:
# set is an unordered collection of data items that are unique .
set = {"apple", "banana","cherry"}
type(set)

set

In [9]:
# dictionary are unordered collection of unique value stored in (key-value) pairs.
dictionary = {"name":"sanvee"}
print(type(dictionary))

<class 'dict'>

In [10]:
# to represent the boolean values (True and false) we use the bool data type.
print(20>10)

True

In [12]:
x= 25
y=20
z=x>y
print(z)
print(type(z))

True
<class 'bool'>

In [2]:
#The built in function of range() used to generate the a sequences of number from a start number.
number = range(10,15,1)
print(type(number))

<class 'range'>

In [3]:
number = range(10,15,1)
print(type(number))

<class 'range'>

In [ ]:
# Dynamic typing and static typing:
In the python variables are the reserved memory location to store values. Python is a dynamically typed language which is not the required to mention the type of the varialble while the declaring.It performs the type checking the at run time .

In statically typed programming languages which is required to mention the type of variables while declaring.it performed the type checking at compile time.

In [4]:
msg = "Hello world"
print(msg)

Hello world

In [ ]:
# Input and output:
until now the values of were define to the variables. In some cases user might want to input values to variables, which allows flexibility.

In [ ]:
Python input()function to perform this.

In [9]:
my_name = input("Enter the name : ")
print("My name is",my_name)

Enter the name : vaishnavi
My name is vaishnavi

In [10]:
my_number = input("Enter the number :")
print("Number is",my_number)

Enter the number :30
Number is 30

In [11]:
print(type(my_number))

<class 'str'>

In [ ]:
# Operators :

In [ ]:
Arithimantic Operator :
    1.addition (+)
    2.substraction(-)
    3.multiplication(*)
    4.division(/)
    5.floor division(//)
    6.modulus(%)
    7.Exponent(**)

In [12]:
#addition :
a= 2
b=3
print(a+b)

5

In [13]:
#substraction:
a=8
b=3
print(a-b)

5

In [14]:
# multiplication:
a= 9
b=2
print(a*b)

18

In [15]:
# division:
a=5
b=2
print(a/b)

2.5

In [16]:
# floor division:
a=5
b=2
print(a//b)

2

In [17]:
# modules:
a=4
b=2
print(a%b)

0

In [19]:
# exponent:
num = 2
print(num**3)

8

In [ ]:
# Relational operators:
1.greater than (>)
2.less than(<)
3.Equal to(=)
4.not equal to (!=)
5.greater than equal to(>=)
6.less than equal to(<=)

In [20]:
x=10
y=5
print(x>y)
print(x<y)

True
False

In [21]:
print(x==y)
print(x==10)

False
True

In [22]:
print(x!=y)
print(10!=x)

True
False

In [23]:
print(x>=y)
print(x<=y)

True
False

In [ ]:
# Assignment operators
1.assign(=)
2.add and assign(+=)
3.sub and assign(-=)
4.multi and assign(*=)
5.division and assign(/=)
6.floor division and assign(//=)
7.modulus and assign(%=)
8.exponent and assign(**=)

In [26]:
a= 4
b= 2
a+=b
print(a)

6

In [28]:
a=2
b=1
a-=b
print(a)

1

In [30]:
a=8
b=3
a*=b
print(a)

24

In [31]:
a=4
b=2
a/=b
print(a)

2.0

In [38]:
a=3
b=2
a//=b
print(a)

1

In [34]:
a=6
b=3
a%=b
print(a)

0

In [37]:
a=7
b=2
a**=b
print(a)

49

In [ ]:
# Logical operators:
1. and: The logical and operators returns true if both expressions are True.
2. or : The logical or the operators returns the a boolens true if one expression is true.
3. not: the logical not operator return the true if the expression is false.

In [39]:
x= 5
print(x>3 and x<10)

True

In [40]:
# In the arthimentic logical and always return the second value
print(10 and 30)
print(20 and 5)
print(100 and 300)

30
5
300

In [41]:
x= 5
print(x>3 or x<4)

True

In [43]:
# In the case arthimrntic values logical or always return the first values
print(10 or 30)
print(20 or 5)
print(100 or 300)

10
20
100

In [44]:
x = 5
print(not(x>3))

False

In [45]:
# In case of the arithimentic values, logical not always return false for nonzero values .
print(not 10) # false. non-zero values 
print(not 0 ) # True.  non-zero values

False
True

In [ ]:
# Membership operators:
In python there are two membership operators in and not in

In [46]:
# in operator
x=["apple","banana"]
print("banana" in x)

True

In [47]:
# not in operator
x=["apple","banana"]
print("kiwi" not in x)

True

In [ ]:
# Identity operator
use the identity operator to check whether the the values of two variables is the same or not.
python has 2 operators is and is not.

In [48]:
# The operator return boolen True or false.
x=10
y=11
z=10
print(x is y)
print(x is z)

False
True

In [49]:
x=10
y=11
z=10
print(x is not y)
print(x is not z)

True
False

In [ ]:
# Bitwise operator
1.& Bitwise and 
2.| Bitwise or
3.^ Bitwise xor

In a python ,bitwise operators are used to perforeming bitwise operations on intergers.
To perform bitwise we first need to convert interger value to binary (0 and 1) value.

In [51]:
# AND 
a=7
b=4
c=5
print(a&b)
print(a&c)
print(b&c)

4
5
4

In [53]:
# OR
a=10
b=2
c=2
print(a|b)
print(a|c)
print(b|c)

10
10
2

In [54]:
a=10
b=2
c=2
print(a^b)
print(a^c)
print(b^c)

8
8
0